* {
    text-align: center;
    font-family: Geneva, Tahoma, sans-serif;
}

p {
    font-size: 16px;
}

li {
    font-size: x-large;
    background-color: rgba(225, 203, 175, 0.924);
    color: rgb(30, 52, 80, 0.95);
    margin-bottom: 10px;
    font-weight: bold;
}

button {
    display: block;
    /* background-color: rgba(225, 203, 175, 0.924); */
    font-size: 25px;
    padding: 5px 20px;
    margin: 20px auto;
}

.menu {
    background-color: lightblue;
    padding: 0.85em; 
    width: 500px;
    height: 500px;
    margin: 30px auto;
}

.menu.steps,
.menu.ingredients {
    width: 600px;
    padding: 1em 30px;
    margin: 0 auto;
    height: auto;
}

.menu li {
    background-color: rgba(247, 206, 212, 0.483);
}

.ingredients li,
.steps li {
    text-align: left;
}

.menu li ul li {
    background-color: rgba(240, 248, 255, 0);
}

.Description {
    color: rgb(2, 2, 76);
}

/* ul li .extra li {
    font-weight: 200px;
    background-color: rgb(127, 127, 31);
} */


h1 {
    color: blueviolet;
    padding-bottom: 30px;
    width: 800px;
    margin: 0 auto 50px;
    border-bottom: 2px dotted yellowgreen;
}

h1.Recipee {
    font-size: 50px;
    color: darkblue;
    width: 500px;
    margin: 0 auto 50px;
    border-bottom: 2px dotted yellowgreen;
}

h2 {
    font-size: 30px;
}

img {
    height: 500px;
    width: auto;
}

hr {
    margin-top: 40px;
    margin-bottom: 20px;
}